/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=======================*/


/* GLOBAL */
body, html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#site-container {
    height:100vh;
    overflow: hidden;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

h1 {
    font-size:60px;
    margin-bottom:10px;
}

h2 {
    font-weight: 300;
    font-size:20px;
    margin-bottom:5px;
}

h3 {
    font-size:20px;
    margin-bottom:10px;
}

p {
  font-size:16px;
  line-height:24px;
  font-family: 'Lato', sans-serif;
  padding-bottom:40px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-centered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100%;
}

.container {
    max-width:1200px;
    box-sizing: content-box;
    margin:0 auto;
}

.container-small {
    max-width:800px;
    box-sizing: content-box;
    margin:0 auto;
}

.text-center {
    text-align: center;
}

.section-title {
    width:100%;
    padding:0 20px;
    box-sizing: border-box;
    margin-bottom:40px;
}

.section-title h3 {
    border-bottom:4px solid #000000;
    display: inline-block;
    padding-bottom:5px;
}

.section-contain {
    padding-left:20px;
    padding-right:20px;
}

/* nav */
.nav-container {
    background:#ffffff;
    width:100%;
    height: 72px;
    position: fixed;
    bottom: 0;
    z-index: 9997
}

.backnav-container {
    position: fixed;
    bottom:-72px;
    height: 72px;
    z-index: 9999;
    background:#ffffff;
    width:100%;
    transition: all ease-out .15s;
}

.backnav-container.open {
    bottom:0;
}

nav {
    width:80%;
    max-width: 800px;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    z-index: 9997;
    text-align: center;
    background: #ffffff;
    padding:20px 0;
    display: flex;
    justify-content: space-around;
}

.backnav {
    width:80%;
    max-width: 800px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    padding:20px 0;
    text-align: center;
    z-index: 9999;
}

#nav-indicator {
    height:5px;
    background: #2accff;
    width:30px;
    position: absolute;
    left:0;
    top:0;
    margin-left:25px;
    margin-right:25px;
    transition: all ease-out .15s;
    border-radius: 20px;
}

nav a {
    margin-left:25px;
    margin-right:25px;
}

.backnav div {
    margin-left:25px;
    margin-right:25px;
}

.nav-icon {
    width:30px;
}


.icon-space {
    width: 30px;
    height: 32px;
    display: inline-block;
}

.backnav img {
    width:30px;
    height:30px;
    min-height: 0;
    margin-left: 25px;
    margin-right:25px;
}

/* HOMEPAGE */
#home {
    width:100%;
    min-height:100vh;
    color:#ffffff;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    top:0;
    left:0;
    text-align: center;
}

.intro-title {
    line-height: 24px;
}

.intro-title br {
    display: none;
}

#home h1 {
    position: relative;
}

.intro-hi {
    background: #ffffff;
    color:#000000;
    padding:0;
    border-radius: 20px;
    position: absolute;
    padding:10px 30px;
    top:-60px;
    right:120px;
    font-size: 24px;
    display: none;
    font-weight: 300;
}

#home h1:hover .intro-hi,#home h1:active .intro-hi {
    display: block;
}

.bubble-tip-down {
    position: absolute;
    bottom:-12px;
    left:30%;
    width: 20px;
}

.bubble-tip-up {
    position: absolute;
    top:-12px;
    left:30%;
    width: 20px;
}

.intro-developer-container {
    position: relative;
}

.intro-developer {
    background: #ffffff;
    padding:15px 15px;
    color:#000000;
    border-radius: 20px;
    position: absolute;
    left:-10%;
    top:40px;
    width:150px;
    display: none;
    z-index: 2;
    font-size: 14px;
}

.intro-designer {
    background: #ffffff;
    padding:15px 15px;
    color:#000000;
    border-radius: 20px;
    position: absolute;
    left:-60px;
    top:40px;
    width:220px;
    display: none;
    z-index: 2;
    font-size: 14px;
}

.intro-ux {
    background: #ffffff;
    padding:15px 15px;
    color:#000000;
    border-radius: 20px;
    position: absolute;
    left:-60px;
    top:40px;
    width:250px;
    display: none;
    z-index: 2;
    font-size: 14px;
}

.intro-developer-container:hover .intro-developer, .intro-developer-container:active .intro-developer,
.intro-developer-container:hover .intro-designer, .intro-developer-container:active .intro-designer,
.intro-developer-container:hover .intro-ux, .intro-developer-container:active .intro-ux {
    display: block;
}

/* SKILLS */
#skills {
    height:100vh;
    width:100%;
    padding:100px 0;
    position: absolute;
    top:0;
    left:100%;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: scroll;
    box-sizing: border-box;
}

.skillset {
    width:50%;
    padding:0 20px;
    box-sizing: border-box;
}

/* PORTFOLIO */
#portfolio {
    height:100vh;
    width:100%;
    padding:100px 0;
    position: absolute;
    top:0;
    left:200%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.portfolioset {
    width:50%;
    padding:0 20px;
    box-sizing: border-box;
}

.portfolioset h3 {
    position: relative;
}


.portfolioset .close {
    width:20px;
    /*
    position: absolute;
    right:20px;
    */
}

.portfolioset img {
    width:100%;
    margin-bottom:40px;
}

.portfolio-content {
    background:#ffffff;
    width:100%;
    height:0;
    position: fixed;
    top:0;
    left:0;
    padding-top:0;
    padding-bottom:0;
    overflow-y: scroll;
    box-sizing: content-box;
    transition: .25s ease-out all;
    z-index: 9998;
}

.portfolio-content.open {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.portfolio-content h3 {
    margin-bottom:40px;
}

/* ABOUT */
#about {
    height:100vh;
    width:100%;
    padding:100px 0;
    position: absolute;
    top:0;
    left:300%;
    overflow-y: scroll;
    box-sizing: border-box;
}

/* CONTACT */
#contact {
    height:100vh;
    width:100%;
    padding:100px 0;
    position: absolute;
    top:0;
    left:400%;
    overflow-y: scroll;
    box-sizing: border-box;
}

/* RESUME */
#resume {
    height:100vh;
    width:100%;
    padding:100px 0;
    position: absolute;
    top:0;
    left:500%;
    overflow-y: scroll;
    box-sizing: border-box;
}

/* MEDIA QUERY */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .intro-title br {
        display: inline;
    }

    .intro-space {
        display: none;
    }

    .skillset {
        width:100%;
    }

    .portfolioset {
        width:100%;
    }

    nav a,
    .backnav img,
    .backnav div {
        margin-left:10px;
        margin-right:10px;
    }

    #nav-indicator {
        margin-left:10px;
        margin-right:10px;
    }

    #skills,#portfolio,#about,#contact,#resume {
        padding:60px 0 100px 0;
    }

    .portfolio-content.open {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
